@import url('https://fonts.googleapis.com/css?family=Oswald');
@import url("reset.css");

.header{
position:relative; //do you want this?
}


body {
  font-family: 'Oswald', sans-serif;
  color: #8600b3;
  background-color: lightgrey;
}
#responsive{
background-image:url("../images/fancyleaf.jpg");


}
p{
  margin: 5px;
  padding: 5px;

}
ul{
  margin: 5px 40px;

}
figcaption{
margin: 5px;

}
#testimonial{
  text-align: center;
  padding-top:20px;
  color: black;
}

#hello{
font-size: 48px;
text-shadow: 2px 2px 7px #111111;

}
h1{
color: #f9e6ff;
font-size: 48px;

}
h1.main{
  font-size: ;
  margin: 20px, auto;
  top: 10%;
  right: 32%;
  padding: 50px 5px;
  background-color: #1f1f7a;
  text-shadow: 2px 2px 7px #8600b3;
  text-align: center;

}


#float{
 position: relative;
left: 30%;
width: 500px;
height: 700px;
background:rgba(255,255,255,0.5);
margin-bottom: auto;
}

#float form{
padding: 15px;

}
#float p{
padding-top: 200px;


}
@media (max-width : 735px){
  #responsive{
    background-image:url("../images/fancyleaf2.jpg");


  }
#float{
left:10%;
}
}
@media (max-width:573px ){
  #responsive{
    background-image:url("../images/fancyleaf2.jpg");


  }
#float{
left:auto;
}

}


#items{
font-size:20px;
}

#inputs{
margin:auto;
text-align: center;

}
#inputs input{
margin-right:8px;


}



li{
  margin: 10px;
  background-color:darkgrey;
  text-align: center;
  padding: 7px 0px;
  width: 400px;
  margin: 5px auto;
}
div.row  {
text-align: center;
}
#instructions{
margin: auto;
border: medium dotted green;
width: 800px;
height: 400px;
padding-top: 50px;

}
#instructions li{
width: 300px;
margin: 20px auto;
padding: 5px;

}
li.head{
font-size: 30px;
margin-bottom: 20px;
}

.image{
  display:inline-block;
  margin: 5px;
  padding: 20px 15px 10px 15px;
  background-color: darkgrey;
}

.image figcaption{
color:white;


}


a:link{
color: #e699ff;
text-decoration: none;

}
a:visited{
color:#8600b3;

}
a:hover{
  text-decoration: underline;

}
input{
padding: 8px 8px;
color:#1f1f7a;


}
input.submit:hover{
background-color: red;

}
