
/* Desktop styles */
#portfolio {
	width: 80%;
	margin: 0 auto;
	border: 1px solid #FF0000;
}

.item {
	width: 300px;
	display: inline-block;
	background-color: #CCC;
	border: 2px solid #00FF00;
	text-align: center;
}

@media (max-width: 720px) {
#portfolio{
width:100%;
margin:0;
border: none;


}
.item{
display:block;
width: 100%;

}
}
@media print{
.item{
	background-color: purple;
	border:none;

}


}
	/* Mobile styles */



}
